* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.modal::-webkit-scrollbar {
  width: 6px;
}
.modal::-webkit-scrollbar-track {
  background: transparent;
}
.modal::-webkit-scrollbar-thumb {
  background-color: #00ff00;
  border-radius: 20px;
}
html,
body {
  font-family: Arial, Helvetica, sans-serif;
}
body {
  max-width: 100vw;
  min-height: 100vh;
  overflow: hidden;
}
.wrapper {
  white-space: pre-wrap;
}
.dragged {
  border: 2px #000 dotted;
}
.btnAyuda {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 1.4em;
  cursor: pointer;
}

.playlist-btn {
  width: 243px;
  margin-top: 30px;
  text-align: center;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.botonera {
  display: flex;
  justify-content: center;
  gap: 50px;
}
.botonera div i {
  font-size: 32px;
  cursor: pointer;
  color: var(--col);
  transition: 0.25s;
}
.botonera div i:hover {
  transform: translateY(-8px);
  text-shadow: 0 0 15px var(--col);
}
.hide {
  display: none;
}
.list-item {
  margin-top: 10px;
  min-height: 50px;
  padding: 10px 10px;
  border: #000 dotted 2px;
  cursor: pointer;
  transition: 0.5s;
  background: #fff;
}
.list-item:hover {
  color: #00ff00;
  border: #00ff00 dotted 2px;
  box-shadow: 0 0 5px #00ff00;
  transform: translatey(-15px);
}
.list-container button {
  width: 30px;
  padding: 0;
  float: right;
  margin-right: 4px;
}
.wrap-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 190px;
  display: inline-block;
}
#sourceUrl {
  background: none;
  padding: 8px;
  border: 2px solid #1f1f1f;
  border-radius: 47px;
  outline: none;
  color: white;
  height: 30px;
  width: 192px;
}
#sourceUrl:active,
#sourceUrl:focus {
  border: 2px solid #0088ff;
}
#seek::-webkit-slider-thumb,
#volume::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid #000000;
  border-radius: 10px;
  background: #ffffff;
}
.scrollbar::-webkit-scrollbar {
  max-width: 5px;
  max-height: 5px;
}
.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #333;
}
.scrollbar::-webkit-scrollbar-thumb:hover {
  box-shadow: inset 0 0 1px 1px #5c6670;
}

.scrollbar::-webkit-scrollbar-track:hover {
  border: 1px solid #000000;
  border-radius: 20px;
  background-color: #232323;
}
.text-container {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.btn-reproductor {
  background: #000000;
  color: white;
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(#000000),
    to(#262626)
  );
  background: -webkit-linear-gradient(bottom, #000000, #262626);
  background: -moz-linear-gradient(bottom, #000000, #262626);
  background: -o-linear-gradient(bottom, #000000, #262626);
  background: linear-gradient(0deg, #000000, #262626);
  font-size: 14px;
  border: none;
  outline: none;
  padding: 0px 15px;
  width: 55px;
  height: 30px;
  line-height: 30px;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  border-radius: 32px;
}
input[type='range'] {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 5px;
  vertical-align: middle;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background-color: #232323;
  outline: none;
}
input::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid #000000;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #ffffff;
}
@import '//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.css';
.screen-reader-text {
  /* Reusable, toolbox kind of class */
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.disabled {
  color: #666;
  cursor: default;
}

.show {
  display: inline-block !important;
}
.previous-track-btn {
  position: relative;
  width: 20px;
  height: 20px;
  right: 25px;
}
.next-track-btn {
  position: relative;
  width: 20px;
  height: 20px;
  right: 25px;
}
#list {
  margin-top: 16px;
  font-size: 12px;
  overflow-x: hidden;
  overflow-y: scroll;
  color: black;
  text-align: left;
  padding-left: 8px;
  border-radius: 5px;
}
/* .list-item {
  line-height: 30px;
  height: 30px;
  margin-top: 4px;
} */
.list-container button {
  width: 30px;
  padding: 0;
  float: right;
  margin-right: 4px;
}
.add-list {
  padding: 4px 6px;
}
@keyframes animate {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
.current {
  color: #0088ff;
}
.myBtn {
  align-self: center !important;
}
.miNav {
  background-color: #fff;
  color: #000;
  padding: 10px;
  gap: 5px;
  border-bottom: #000 solid 2px !important;
  border-radius: 0;
  display: flex;
  align-items: center;
  overflow-x: scroll;
  overflow-y: hidden;
  margin-bottom: 25px;
}
.miNav h1 {
  min-width: 205px;
}
.miNav h1,
.miNav h2,
.miNav h3,
.miNav h4,
.miNav h5,
.miNav h6,
.miNav p {
  margin: 0;
}
#songName {
  max-width: 80px;
  max-height: 20px;
  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: 0.5s;
}
#songName:hover {
  max-width: 100%;
  transition: 0.5s;
}
.botones {
  display: flex;
  align-items: center;
  gap: 10px;
  transition: 0.5s;
}
.icons {
  font-size: 2em;
  cursor: pointer;
}
@media screen and (max-width: 768px) {

  #currentDuration,
  #fullDuration,
  #seek,
  #mute,
  #volume {
    display: none;
  }
}
#saludo {
  white-space: pre-wrap;
}
.card {
  width: 300px;
  min-height: 300px;
  max-height: 300px;
  overflow-y: scroll;
}
.columnas {
  display: flex;
  overflow-x: scroll;
  padding-bottom: 20px;
  height: auto;
}
.columna {
  min-width: 350px;
  height: 750px;
  border-radius: 10px;
  border: #000 2px solid;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: scroll;
  align-items: center;
  flex-wrap: nowrap;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 0 !important;
}
.miContainer {
  max-width: 100%;
  height: auto;
}
.columnas::-webkit-scrollbar,
.columna::-webkit-scrollbar,
.miNav::-webkit-scrollbar,
.card::-webkit-scrollbar {
  width: 6px;
}

.columnas::-webkit-scrollbar-track,
.columna::-webkit-scrollbar-track,
.miNav::-webkit-scrollbar-track,
.card::-webkit-scrollbar-track {
  background: transparent;
}
.columnas::-webkit-scrollbar-thumb,
.columna::-webkit-scrollbar-thumb,
.miNav::-webkit-scrollbar-thumb,
.card::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 255, 0.466);
  border-radius: 20px;
}
.taskBar {
  box-shadow: inset 0 1px 0 0 #fff;
  background-color: silver;
  border-color: #dfdfdf;
  border-top: 1px solid;
  bottom: 0;
  left: 0;
  padding: 2px 0;
  position: absolute;
  right: 0;
  justify-content: center;
}
.taskBar div {
  gap: 30px;
}